.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 25px 50px;
}

.product-title {
  width: 100%;
}

.product-items {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex: none;
  width: 300px;
  height: auto;
  margin: 0 33px 13px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: solid 2px transparent;
  position: relative;
}

.product-item:link,
.product-item:visited {
  text-decoration: none;
  color: black;
}

.product-item:hover{
  border-color: rgba(30,30,30, 0.5);
  opacity: 0.75;
}

.product-item:active{
  transform: scale(0.98);
}

.product-item-image {
  height: 200px;
  margin-bottom: 10px;
}

.shopping-cart-item-name {
  font-weight: bold;
  line-height: 1.25em;
  text-decoration: unset;
  color: black;
}
