.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-items {
  font-size: large;
}

.App-items ul {
  list-style: none;
}

.App-items li {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-height: 150px;
  text-align: left;
  margin: 0 0 10px 0;
  padding: 0;
  border: solid 1px gray;
  padding: 10px;
}

.App-items h4::before{
  content: '';
  background-image: url('https://static.thenounproject.com/png/204040-200.png');
  background-size: 50px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 65px;
  height: 50px;
  margin: 0 10px 0 0;
  padding: 0;
}

.App-items li h4,
.App-items li p {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: unset;
  display: flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
