html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
